/* -------------- GENERAL -------------- */
.button.delete {
    background: #c72525;
}

.button.delete:hover {
    background: #a51e1e;
}

.button.modify {
    background: #202020;
}

.button.modify:hover {
    background: #121212;
}

.button + .button {
    margin: 0 0 0 10px;
}

.button.add {
    background: #18CC5C;
    white-space: nowrap;
    width: auto;
    padding: 15px;
}

.button.add:hover {
    background: #14aa4d;
}

form {
    display: flex;
    flex-direction: column;
}

/* ------------ SKILLS SECTION ------------- */

/* ----------- SKILL FORM SECTION ---------- */
#skillForm .preview img {
    height: 100px;
}

/* ---------- GALLERY SECTION ----------- */
.project .miniature {
    display: none;
}

ul#projectList {
    list-style: none;
    padding: 2.5% 2.5% 0 2.5%;
    margin: 0 0 40px 0;
}

li.project {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #323232;
    padding: 10px;
}

li.project span.idProject,
li.project span.projectTitle {
    padding: 5px 15px 5px 0;
}

li.project span.projectTitle {
    cursor: pointer;
    flex-grow: 1;
}