/* -------------- GENERAL -------------- */
.button.delete {
    background: #CC0000;
}

.button.delete:hover {
    background: #a00000;
}

.button.modify {
    background: #202020;
}

.button.modify:hover {
    background: #121212;
}

.button + .button {
    margin: 0 0 0 10px;
}

.button.add {
    background: #18CC5C;
}

.button.add:hover {
    background: #14aa4d;
}

form {
    display: flex;
    flex-direction: column;
}

/* ------------ SKILLS SECTION ------------- */
#skills .button.add {
    width: auto;
    padding: 15px;
}

/* ----------- SKILL FORM SECTION ---------- */
